@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8958f1; /* Light background */
  --foreground: #333; /* Dark text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8958f1;
    --foreground: #333;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif; /* Set 'Nunito' as the primary font */
  cursor: none; /* Hide the default cursor */
}

/* Override the cursor style for all links */
a {
  cursor: none !important; /* Prevent default cursor when hovering over links */
}

.main-content {
  padding: 40px 20px;
  text-align: center;
}

.main-content h2 {
  color: #222;
  margin-bottom: 20px;
}

.main-content p {
  color: #666;
  line-height: 1.6;
}

/* Styling for the specific text */
.text-hover-grow {
  display: inline-block; /* Required for transform to work */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.text-hover-grow:hover {
  transform: scale(1.1); /* Scales the text to 110% */
}

/* Reusable hover color change effect */
.text-hover-yellow {
  transition: color 0.3s ease-in-out; /* Smooth transition */
}

.text-hover-yellow:hover {
  color: #fef74b; /* Yellow color */
}

.btn-primary {
  padding: 12px 24px;
  background-color: #fef74b;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #ccc61f; /* Dark purple border */
  margin-right: 10px; /* Add space to the right */
}

.btn-primary:hover {
  background-color: #504081;
  color: #fef74b;
}

.btn-secondary {
  padding: 12px 24px;
  background-color: #504081;
  color: #fef74b;
  font-weight: bold;
  border: 2px solid #fef74b;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #fef74b;
  color: #333;
}

/* globals.css or another CSS file */
.openDropdown {
  overflow: hidden; /* Prevent scrolling */
}

.openDropdown main {
  transform: translateX(-250px); /* Move the content to the left */
  transition: transform 0.3s ease-in-out;
}

.openDropdown .dropdown {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; /* Width of the dropdown */
  height: 100%;
  background-color: #fff; /* Or any color you want */
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

