/* app/components/DropdownMenu.module.css */

/* Floating card for navigation */
.navContainer {
  background-color: #1c0e45; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the floating effect */
  padding: 20px 40px;
  position: fi; /* Make it sticky at the top */
  top: 0; /* Stick to the top of the screen */
  z-index: 100; /* Ensure it's above other content */
  width: 100%;
  box-shadow: 0 2px 5px #4bfe5a;
}

/* Navigation styles */
.navheader {
  
  display: flex;
  
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  min-height: 30px;
  width: 100%;
}

body .navheader {
  background-color: #1c0e45;
}

.questImage {
  transform: translateX(-300px);
}

.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.dropdown.open {
  transform: translateX(0);
}

.dropdownButton {
  position: absolute; /* Position inside the nav container */
  top: 20px;
  right: 20px;
  background-color: #8958f1;
  color: #fef74b;
  padding: 10px 20px;
  border: none;
  margin-top: 80px; /* Push the button down inside the nav card */
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 101; /* Keep the button on top */
}

.dropdownButton:hover {
  background-color: rgb(170, 143, 230);
}

.dropdownMenu {
  list-style: none;
  padding: 20px;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownMenu li {
  margin-bottom: 20px;
}

.dropdownMenu li a {
  text-decoration: none;
  color: rgb(242, 246, 242);
  font-size: 18px;
}

body.openDropdown {
  overflow: hidden;
  transform: translateX(-40%);
  transition: transform 0.3s ease-in-out;
}

.card {
  width: 200px;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  background-color: #2a2a2a;
}

.dropdownLink {
  text-decoration: none;
  color: white;
  display: block;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.logoutButton {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
  text-align: center;
}

.logoutButton:hover {
  background-color: darkred;
}
